
@font-face {
  font-family: 'CoolveticaRg-Regular';
  src: url('CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),  url('CoolveticaRg-Regular.woff') format('woff'), url('CoolveticaRg-Regular.ttf')  format('truetype'), url('CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
