
@font-face {
  font-family: 'LandSpeedRecord';
  src: url('LandSpeedRecord.eot?#iefix') format('embedded-opentype'),  url('LandSpeedRecord.woff') format('woff'), url('LandSpeedRecord.ttf')  format('truetype'), url('LandSpeedRecord.svg#LandSpeedRecord') format('svg');
  font-weight: normal;
  font-style: normal;
}
